###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/.phpunit.cache/
/phpunit.xml
###< phpunit/phpunit ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

# Pliki generowane przez edytory i IDE
/.idea/
/.vscode/

# Pliki systemów operacyjnych
.DS_Store
Thumbs.db

# Pliki logów i buildów
npm-debug.log*
yarn-debug.log*
yarn-error.log*
